<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moduleview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />　　　　
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DragHelperLearnActivity" />
        <activity android:name=".developerandroid.CustomView.Main2Activity" />
        <activity android:name=".PathMeasureActivity" />
        <activity android:name=".BserActivity" />
        <activity android:name=".BloodActivity" />
        <activity android:name=".TvControlerActivity" />
        <activity android:name=".RiliActivity" />
        <activity android:name=".DatestyleshowActivity" />
        <activity android:name=".PathopreateActivity" />
        <activity android:name=".RecycleViewlearnActivity"></activity>
    </application>

</manifest>